@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    background-image: url(img/loading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;

}

#name-form {
    margin-top: 20%;
}

input {
    margin-left: 10px;
    border: none;
    outline: none;
    width: 400px;
    height: 25px;
    background: none;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgba(233, 233, 233, 0.829);
}

input::placeholder {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

input:focus::placeholder {
    color: transparent;
    transition: all 0.5s;
}

input:focus {
    border-bottom-color: rgba(0, 162, 255, 0.829);
    transition: all 0.5s;
}

#txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 200px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}


button:hover, img:hover {
    animation-duration: 2s;
    animation-name: rainbowLink;
    animation-iteration-count: infinite;
}

@keyframes rainbowLink {
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; }
    100% { color: #e82aff; }
}